<div class="content_post" style="background-image: url(<%= tweet.tweet_image.avatar %>);">
  <div class="more">
  </div>
  <%= simple_format(tweet.text) %>
  <span class="name">
    <a href="/users/<%= tweet.user_id %>">
      <span>投稿者</span><%= tweet.user.nickname %>
    </a>
    <li class="detail">
        <%= link_to "詳細", tweet_path(tweet.id), method: :get %>
    </li>
  </span>
</div>
